@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

:root {
    --red: #e62129;
    --fontcolorgrey: #353535;
    --bgfooter: #1b1b1b;
    --fontcolorwhite: #ffffff;
    --colorinfooter: #9d9d9d;
    --marginnav: 30px;
    --hoverbtn: #d80021;
    --paddingx: 20px;
    --paddingy: 25px;
    --bgtesti: #ededed;
}


/* float botton */

.float-botton {
    position: fixed;
    z-index: 99;
    bottom: 45px;
    right: 25px;
    font-size: 1.7rem;
    border-radius: 100px;
    text-align: center;
    line-height: 55px;
    background-color: var(--red);
    color: var(--fontcolorwhite);
    width: 50px;
    height: 50px;
}

.float-botton:hover {
    background-color: var(--hoverbtn);
}


/* float botton */


/* navbar */

nav {
    width: 100%;
    background-color: var(--fontcolorwhite);
}

nav .nav-items {
    color: var(--fontcolorwhite);
    margin: 15px auto;
    letter-spacing: 1px;
}

nav .collapse {
    background-color: var(--bgfooter);
    transition: 0.5s;
    border-radius: 0 0 12px 12px;
}

nav .btn.masuk {
    color: var(--fontcolorwhite);
    display: flex;
    justify-content: center;
    width: 88%;
    border-radius: 7px;
    background-color: var(--red);
    margin: 15px auto;
}


/* navbar */


/* carousel */

.carousel,
.carousel-caption .caption,
.carousel-caption .sub-caption,
.carousel-caption .btn-tonton,
.carousel-caption .btn-tonton:hover {
    /* visibility: hidden */
    display: none;
}


/* carousel */

section {
    /* border: 2px solid red; */
    width: 450px;
    height: 450px;
    padding: 20px;
    width: 100%;
    height: max-content;
}

section.fitur {
    margin-bottom: 60px;
}


/* fitur dan tentang kami */

section p.judul-fitur {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--fontcolorgrey);
    text-align: center;
}

section p.judul-fitur span,
section.testi p.judul-fitur-testi span {
    background-color: var(--red);
    padding: 4px;
    color: var(--fontcolorwhite);
}

section p.desc-judul-fitur {
    color: var(--fontcolorgrey);
    width: 100%;
    text-align: center;
    margin-bottom: 73px;
}

section p.judul-fitur-sub {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--fontcolorgrey);
    margin-top: 20px;
    letter-spacing: 1px;
}

section p.desc-sub-fitur {
    color: var(--fontcolorgrey);
    text-align: justify;
    font-size: 1.2rem;
}

section .gambar-mode-bioskop img {
    width: 150%;
    margin-bottom: 70px;
}


/* fitur dan tentang kami */


/* testimonial */

section.testi {
    background-color: var(--bgtesti);
}

section.testi p.judul-fitur-testi {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--fontcolorgrey);
    text-align: center;
}

section.testi .kartu-testi {
    background-color: var(--fontcolorwhite);
    padding: 40px 50px;
    margin-bottom: 45px;
    border-radius: 12px;
}

section.testi .kartu-testi img {
    display: grid;
    margin: 25px auto;
}

section.testi .kartu-testi p {
    margin: 35px auto;
    text-align: center;
    color: var(--fontcolorgrey);
    letter-spacing: 1px;
}


/* testimonial */


/* footer */

footer {
    background-color: var(--bgfooter);
    padding: 20px;
}

footer .item {
    margin: 30px 0;
}

footer .head-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .head-footer p {
    color: var(--fontcolorwhite);
}

footer .head-footer a.masuk-footer {
    background-color: var(--red);
    color: var(--fontcolorwhite);
    padding: 6px 25px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

footer .head-footer a.masuk-footer:hover {
    background-color: var(--hoverbtn);
}

footer .item p.desc-logo {
    margin-top: 12px;
    text-align: left;
    color: var(--fontcolorwhite);
}

footer .item p.kontak {
    color: var(--fontcolorwhite);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

footer .item .kontak-kami .detail {
    display: flex;
    flex-direction: column;
}

footer .item .kontak-kami .detail .detail-kontak {
    display: flex;
    color: var(--fontcolorwhite);
    font-size: 1.1rem;
    width: 56%;
}

footer .item .kontak-kami .detail .detail-kontak p {
    margin-left: 12px;
}

footer .item p.sosmed {
    color: var(--fontcolorwhite);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

footer .item .detail-sosmed {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

footer .item .detail-sosmed .icon-sosmed {
    font-size: 2rem;
    color: var(--fontcolorwhite);
}

footer .copyright p {
    margin-top: 122px;
    color: var(--fontcolorwhite);
}

footer .copyright span {
    color: var(--red);
    font-size: 1.4rem;
}


/* footer */


/* responsive */


/* tablet */

@media (min-width: 700px) and (max-width:1010px) {
    .float-botton {
        bottom: 55px;
        right: 35px;
        width: 60px;
        height: 60px;
        line-height: 67px;
        font-size: 2rem;
    }
    .carousel,
    .carousel-caption .caption,
    .carousel-caption .sub-caption,
    .carousel-caption .btn-tonton,
    .carousel-caption .btn-tonton:hover {
        visibility: hidden
    }
    /* navbar */
    nav .btn.masuk {
        padding: 10px 40px;
        width: 50%;
    }
    /* navbar */
    section {
        margin-top: 40px;
        /* border: 2px solid red; */
        width: 450px;
        height: 450px;
        padding: 70px;
        width: 100%;
        height: max-content;
    }
    /* fitur mode bioskop dan fitur koleksi */
    section p.judul-fitur {
        font-size: 2.2rem;
    }
    section p.desc-judul-fitur {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 120px;
    }
    section .gambar-mode-bioskop img {
        width: 100%;
        margin-bottom: 70px;
    }
    section .gambar-fitur img {
        width: 100%;
    }
    /* fitur mode bioskop dan fitur koleksi*/
    /* tentang kami */
    section .gambar-tentang-kami img {
        width: 100%;
    }
    /* tentang kami */
    /* testimoni */
    section.testi {
        padding: 70px;
    }
    section.testi .kartu-testi {
        width: 60%;
        padding: 40px 50px;
        margin: 0 auto;
        margin-bottom: 45px;
        border-radius: 12px;
    }
    /* testimoni */
    /* footer */
    footer .head-footer a.masuk-footer {
        padding: 10px 25px;
        width: 40%;
    }
    footer .item .detail-sosmed {
        width: 20%;
        justify-content: space-around;
    }
    /* footer */
    /* tablet */
}


/* desktop */

@media (min-width: 1011px) {
    .float-botton {
        bottom: 45px;
        right: 45px;
        font-size: 1.7rem;
        width: 50px;
        height: 50px;
    }
    /* navbar */
    nav.navbar {
        padding: 6px 66px;
    }
    nav .nav-items {
        margin: 0 20px;
        color: var(--fontcolorgrey);
    }
    nav .nav-items:hover::after,
    nav .active::after {
        content: "";
        display: block;
        border-bottom: 2px solid var(--red);
        margin-bottom: -4px;
        transition: 0.9s;
        width: 80%;
        margin: 0 auto;
    }
    nav .collapse {
        background-color: var(--fontcolorwhite);
    }
    nav .btn.masuk {
        display: block;
        border-radius: 7px;
        padding: 7px 30px;
        width: max-content;
        margin: 0;
    }
    nav .btn.masuk:hover {
        background-color: var(--hoverbtn);
    }
    /* navbar */
    /* carousel */
    .carousel {
        display: block;
    }
    .carousel-caption .caption {
        position: absolute;
        top: -400px;
        font-weight: 700;
        font-size: 5rem;
        display: block;
    }
    .carousel-caption .sub-caption {
        position: absolute;
        top: -280px;
        font-weight: 700;
        font-size: 3rem;
        display: block;
    }
    .carousel-caption .btn-tonton {
        background-color: var(--red);
        position: absolute;
        top: -160px;
        font-weight: 700;
        padding: 15px;
        border-radius: 5px;
        letter-spacing: 2px;
        font-size: 1.5rem;
        display: block;
    }
    .carousel-caption .btn-tonton:hover {
        background-color: var(--hoverbtn);
        display: block;
    }
    /* carousel */
    section {
        padding: 70px;
    }
    /* fitur */
    section .fitur {
        margin-top: 56px;
    }
    section .gambar-fitur img {
        width: 125%;
        margin-left: -193px;
    }
    section p.desc-judul-fitur {
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 73px;
    }
    /* footer */
    footer {
        padding: 34px;
    }
    footer .head-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    footer .head-footer p {
        font-size: 1.2rem;
    }
    footer .head-footer a.masuk-footer {
        padding: 12px 10px;
        width: 20%;
        font-size: 1.3rem;
    }
    footer .item.body {
        padding: 70px;
        text-align: center;
        margin-top: 134px;
    }
    footer .item.body p.desc-logo {
        text-align: center;
        width: 100%;
    }
    footer .item .kontak-kami .detail {
        align-items: center;
    }
    footer .item .kontak-kami .detail .icon:hover {
        color: var(--red);
    }
    footer .item .detail-sosmed {
        margin: 0 auto;
        width: 60%;
    }
    footer .item .detail-sosmed .icon-sosmed:hover {
        color: var(--red);
    }
    /* footer */
}


/* desktop */


/* responsive */